
espProto/build/
*.o
*.d
*.a
espProto/sdkconfig
espProto/sdkconfig 2
espProto/sdkconfig 3
espProto/sdkconfig 4
espProto/sdkconfig 5
espProto/sdkconfig.old
tools/esp32-ota-demo.bin
tools/espProto.bin
tools/espProto_xxx.bin
tools/espProto.bin
tools/espProto.bin
espProto/sdkconfig 10
espProto/sdkconfig 11
espProto/sdkconfig 12
espProto/sdkconfig 13
espProto/sdkconfig 2.old
espProto/sdkconfig 6
espProto/sdkconfig 7
espProto/sdkconfig 8
espProto/sdkconfig 9
esp32Proto_platformio/include/.DS_Store
.DS_Store
esp32Proto_platformio/src/secrets.h
esp32Proto_platformio/src/sdkconfig.h
esp32Proto_platformio/src/sdkconfig.hneu.h
espProto_eclipse/sdkconfig
*.sections_info
